
.app__header {
  background-image: url('../../assets/pool-spa.jpg');
  background-size: cover;
  padding: 20px;
  display: flex;
}

.app__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.app__header-title {
  color: #1464db;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  /* or 121% */

  letter-spacing: -0.04em;
}